.endless-feed__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.endless-feed__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  overflow-y: auto;
  height: 300px;
}

.endless-feed__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
