.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.header {
  padding: 10px 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
