.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
